{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <!-- <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"> -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="{% static 'assets/img/logo.png' %}" alt="">
                            <span class="d-none d-lg-block">Add Product</span>
                        </a>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Add a New Product</h5>
                                <p class="text-center small">Fill in the details to add a new product</p>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.label.label_tag }}
                                    {{ form.label }}
                                </div>
                                <div class="form-group">
                                    {{ form.description.label_tag }}
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    {{ form.category.label_tag }}
                                    {{ form.category }}
                                </div>
                                <div class="form-group">
                                    {{ form.product_image.label_tag }}
                                    {{ form.product_image }}
                                </div>
                                <div class="form-group">
                                    {{ form.quantity.label_tag }}
                                    {{ form.quantity }}
                                </div>
                                <div class="form-group">
                                    {{ form.price.label_tag }}
                                    {{ form.price }}
                                </div>
                                <div class="form-group mt-3">
                                    <button class="btn btn-primary w-100" type="submit">Add Product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}