{% extends 'base.html' %}
{% block content %}
<div class="custom-order-list">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Status</th>
                <th>Total Amount</th>
                <th>Timestamp</th>
                <th>Order Status</th>
                <!-- <th>count</th> -->
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'admin-order-detail' order.pk %}" class="text-primary">{{ order.id }}</a></td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.total_amount }}</td>
                    <td>{{ order.timestamp }}</td>
                    <td>
                        <form class="d-flex align-items-center" method="post" action="{% url 'admin-order-change-status' order.pk %}">
                            {% csrf_token %}
                            <select name="new_status" class="form-control me-2">
                                <option value="Pending">Pending</option>
                                <option value="Processing">Processing</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Delivered">Delivered</option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm">Change Status</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}