{% extends 'base.html' %}
{% block content %}

  
<div class="custom-order-detail">
    <h2 class="mb-3">Order Detail - {{ order }}</h2>
    {% for item in order.orderitem_set.all %}
    <div class="card">
        <div class="card-body">
            <p class="mb-2"><strong>Status:</strong> {{ order.status }}</p>
            <p class="mb-2"><strong>Total Amount:</strong> {{ item.total_price }}</p>
            <p class="mb-2"><strong>Timestamp:</strong> {{ order.timestamp }}</p>
            <h3 class="mt-4">Order Items</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Product Category</th>
                        <th>Quantity</th>
                        <th>Price</th> 
                        <th>Total Price</th>  
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ item.product.label }}</td>
                            <td>{{ item.product.category }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}